<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SimpleAbstractIoC.Web.Pipelines.Initialize.CustomDependencyResolverSetter, SimpleAbstractIoC.Web"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']">
          <dependencyResolverWrapper>SimpleAbstractIoC.Web.IoC.Unity.UnityDependencyResolverWrapper,SimpleAbstractIoC.Web</dependencyResolverWrapper>
        </processor>
      </initialize>
    </pipelines>

    <sites>
      <site name="website">
        <patch:attribute name="rootPath" value="/sitecore/content/Simple IoC"/>
        <patch:attribute name="database" value="master"/>
        <patch:attribute name="cacheHtml" value="false"/>
        <patch:attribute name="loginPage" value="/login"/>
      </site>
    </sites>
  </sitecore>
</configuration>
