@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SimpleAbstractIoC.Web.Models.sitecore.templates.Simple_IoC.Pages.IGeneric_Page>

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>@Editable(i => i.Page_Title)</h1>

    @Editable(i => i.Page_Content)
</header>